.picpic{
  width: 100vw ;
height: 45vh;
object-fit: cover;
display: flex;
justify-content: center;
align-items: center;
animation: breath 6s ease-out ;
}

@keyframes breath {
  from { 
    transform: scale(1.5);
  }
  to {
    transform: scale(1)
  }
}

.rtcText{
  color: rgb(255, 255, 255);
  text-decoration: underline;
  font-family: "site-font";
 letter-spacing: 0.2px;
 font-weight: 550;
font-size: 80px;
background-color:#0000009d;
border-radius:10px;

text-shadow: 0 0 1.5px rgb(0, 0, 0), 0 0 1.5px rgb(0, 0, 0), 0 0 1.5px rgb(0, 0, 0), 0 0 1.5px rgb(0, 0, 0), 0 0 1.5px rgb(0, 0, 0), 0 0 1.5px rgb(0, 0, 0), 0 0 1.5px rgb(0, 0, 0), 0 0 1.5px rgb(0, 0, 0), 0 0 1.5px rgb(0, 0, 0), 0 0 1.5px rgb(0, 0, 0), 0 0 1.5px rgb(0, 0, 0), 0 0 1.5px rgb(0, 0, 0), 0 0 1.5px rgb(0, 0, 0), 0 0 1.5px rgb(0, 0, 0), 0 0 1.5px rgb(255, 255, 255), 0 0 1.5px black, 0 0 2px rgb(255, 255, 255), 0 0 2px white, 0 0 2px white, 0 0 1px white;
}

@keyframes opacityh1 {
    from {
      opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  @keyframes opacityh2 {
    0% {
      opacity: 0;
    }
    50% {
        opacity: 0;
    }
    90% {
      opacity: 0.5;
  }
  100% {
    opacity:1;
}
  }

/* .divdiv{
  display: inline-block;
  align-items: center;
  justify-content: center;

} */

  /* .innerinner{
display: flex;
align-items: center;
justify-content: center;


  } */

  