*{
    box-sizing: border-box;
    padding:0;
    margin:0;
   
}

.mainContainer{
    width:100%;
    height:100vh;
    background-color:#e1c9b4;
    display: flex;
align-items: center;
    justify-content:center;
    
}

.innerBlock{
    height:80vh;
    width:100%;  

}

.BottomSqares{
    width:100%;
    height:45vh;
   
    display: flex;
    flex-direction:row;

}

.leftSqare{
    width:40%;
    height: 100%;
    background-color:#000000;
    
	
	
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.leftSqare img{
   width:70%;
   height: 40%;
   animation:spin 6s  infinite;
   -webkit-box-reflect:below 0px linear-gradient(transparent,transparent,rgba(0, 0, 0, 0.3));
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotateY(360deg);
         transform:rotateY(360deg); 
        }
     }

.rightSqare{
    width:60%;
    height:40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "site-font";
    flex-direction: column;
    letter-spacing: 1px;
    background-color:#e1c9b4;
}

.rightSqare h1{
    padding-top: 70px;
}

.rightSqare h6{
    text-align: center;
   font-size:large;
   width:550px
    
}